<div class="well">
  <h2><%= link_to question.title, question_path(question) %></h2>
  <small>by: <%= question.user %></small><br>
  <%= question.content %>
  <h5>votes: <%= Vote.counter(question.votes) %></h5>
</div>
