<h1>
	<%= @question.title %>

</h1>


<h2>
	
	<%= @question.content %>


</h2>


<h3> Respuestas</h3>
<table>
	<thead>
		
		<th>Title</th>
		<th>Content</th>


	</thead>

	<tbody>
		
	<% @answers.each do |answer| %>
		
		<tr>
		<td><%= answer.title %></td>
		<td><%= answer.content %></td>
		</tr>
	<% end %>


	</tbody>


</table>